.Loader {
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    width: 80px;
    height: 40px;
    background: radial-gradient(
        circle 25px at top right,
        #ffd738 40%,
        #0000
      ),
      transparent;
    position: relative;
    overflow: hidden;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 4px;
    left: -40px;
    width: 36px;
    height: 20px;
    --c: radial-gradient(farthest-side, #fff 96%, #0000);
    background: var(--c) 100% 100% /30% 60%, var(--c) 70% 0 /50% 100%,
      var(--c) 0 100% /36% 68%, var(--c) 27% 18% /26% 40%,
      linear-gradient(#fff 0 0) bottom/67% 58%;
    background-repeat: no-repeat;
    animation: l10 2s linear infinite;
  }
  .loader:after {
    top: 15px;
    --l: 200%;
  }
  @keyframes l10 {
    100% {
      left: var(--l, 105%);
    }
  }
}
