@use '../variables/variables' as *;

.search-container {
  display: flex;
  border: 1px solid var(--secondary-text-color);
  border-radius: 20px;
  padding: 0 1rem;

  .search-icon,
  .search-input input {
    height: 40px;
  }
  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    padding-right: 1rem;
  }
  .search-input input {
    background-color: transparent;
    color: var(--primary-text-color);
    border: none;
    outline: none;
    font-size: 1rem;
  }
}
.search-results {
  border-radius: 0.5rem;

  background-color: var(--header-bg-color);

  position: absolute;
  z-index: 1;
  top: calc($header-height + 0.25rem);

  width: 50%;
  max-height: 50vh;

  overflow-x: hidden;

  .results-container {
    .result {
      padding: 1rem;
      font-size: 1.1rem;

      cursor: pointer;

      &:hover {
        background-color: var(--hover-bg-color);
      }
    }
  }
}
