// LIGHT THEME COLORS
$main-bg-color-light: #f0f2f5;
$header-bg-color-light: #ffffff;
$border-color-light: #ced0d4;
$primary-text-color-light: #050505;
$secondary-text-color-light: #65676b;

// DARK THEME COLORS
$main-bg-color-dark: #18191a;
$header-bg-color-dark: #242526;
$border-color-dark: #393a3b;
$primary-text-color-dark: #e4e6eb;
$secondary-text-color-dark: #b0b3b8;
