$header-height: 70px;
$main-height: calc(100vh - $header-height);

@mixin no-text-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
