.App {
  display: grid;
  grid-template-areas:
    'p p p p p p s s s s s s'
    'tw tw tw tw tw tw taq taq taq taq taq taq'
    'tt tt tt tt tt tt tt tt tow tow tow tow';
}

.profile {
  grid-area: p;
}
.search {
  grid-area: s;
}
.today-weather {
  grid-area: tw;
}
.today-air-quality {
  grid-area: taq;
}
.today-temperature {
  grid-area: tt;
}
.tomorrow-weather {
  grid-area: tow;
}
